<ion-header>
  <ion-navbar>
    <ion-title>{{ Group.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="Group.workouts.length < 2">
        <span class="warning" (click)="editThisGroup()">
            This group only contains 1 workout. Please add more Workouts
            to this group for a more detailed report. (click here, or on "Edit group")
        </span>
    </div>

    <div class="headline-box">
        <h1 class="main-header">{{ Group.title }}</h1>
        <h2 class="main-subhead">
            {{ Group.mainActivity }} <i>at</i> {{ Group.location }}
        </h2>
    </div>

    <div class="actions">
        <button (click)="editThisGroup()">Edit group</button>
        <button (click)="deleteThisGroup()" class="del">Delete group</button>
    </div>

    <div class="data-view">
        <h3>Distance <span>miles</span></h3>
        <div>
            <canvas #lineCanvas></canvas>
        </div>
        <ion-item>
            <label>Total Miles</label>
            <h4>{{ totalMiles }} <span>miles</span></h4>
        </ion-item>
        <ion-item>
            <label>Average Miles</label>
            <h4>{{ avgMiles }} <span>miles per workout</span></h4>
        </ion-item>

        <h3>Calories</h3>
        <div>
            <canvas #caloriesCanvas></canvas>
        </div>
        <ion-item>
            <label>Total Calories Burned</label>
            <h4>{{ totalCalories }} <span>kCal</span></h4>
        </ion-item>
        <ion-item>
            <label>Average Calories Burned</label>
            <h4>{{ avgCalories }} <span>kCal per workout</span></h4>
        </ion-item>

        <h3>Steps</h3>
        <div>
            <canvas #stepsCanvas></canvas>
        </div>
        <ion-item>
            <label>Total Steps</label>
            <h4>{{ totalSteps }} <span>steps</span></h4>
        </ion-item>
        <ion-item>
            <label>Average Steps</label>
            <h4>{{ avgSteps }} <span>steps per workout</span></h4>
        </ion-item>

        <h3>Heart Rate <span>beats per minute</span></h3>
        <div>
            <canvas #ratesCanvas></canvas>
        </div>
        <ion-item>
            <label>Average Heart Rate</label>
            <h4>{{ avgHeartRate }} <span>bpm per workout</span></h4>
        </ion-item>

  </div>
</ion-content>
